html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0}body{line-height:1;color:black;background:white}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}* html
.clearfix{zoom:1}*:first-child+html
.clearfix{zoom:1}html,body{height:100%}h1,h2,h3,h3,h4,h5,h6{font-size:20px;font-weight:bold;text-shadow:0px 2px 0px #000;filter:dropshadow(color=#000000,offx=0,offy=1)}a{text-decoration:underline;color:#FFF}.heading-text{margin-bottom:15px;text-transform:uppercase}body{background:url('/wp-content/themes/sugarloafbarn/images/broken-noise-pattern.jpg') repeat scroll 0 0 transparent;color:#FFF;font-family:Palatino,'Palatino Linotype',Georgia,times,serif;font-size:14px;line-height:18px}.wrapper{width:940px;margin:0
auto;min-height:100%;padding:0
10px;position:relative}.main{padding-bottom:100px}.page-body{}.slide-container+.content{margin-top:20px}.content{padding:18px
0 0 0}.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content
h6{margin-bottom:15px}.content
p{line-height:20px;margin-bottom:15px}.content
img{border:6px
solid rgba(10, 10, 10, 0.8);margin:0}.content
img.alignright{float:right;margin:0
0 10px 15px}.content
img.alignleft{float:left;margin:0
15px 10px 0}.content
em{font-style:italic}.content
strong{font-weight:bold}.content ul, .content
ol{margin-bottom:15px;margin-left:30px}.content
ul{list-style:disc outside none;margin-bottom:15px;margin-left:30px}.content
ol{list-style:decimal outside none;margin-bottom:15px;margin-left:30px}.content
blockquote{margin:0
30px 15px 30px}.content
.redText{color:#F76767}.content
.greyText{color:#CFCFCF}.leftCol{display:block;float:left;height:100%;margin-right:20px;width:141px}.leftCol+.mainCol{float:right;width:779px}.mainCol.sidebar{float:left;margin-right:20px;width:700px}.body-widget-area{margin:0
0 30px 0}.body-widget-area .body-widget{display:block;float:left;margin:0
20px 0 0;padding:0
10px;width:280px}.body-widget-area .body-widget:last-child{margin:0}.body-widget-area .body-widget
h2{font-size:20px;font-weight:bold;text-shadow:0px 2px 0px #000;filter:dropshadow(color=#000000, offx=0, offy=1)}.body-widget-area .body-widget
img{border:5px
solid #121212;margin:15px
0 15px 0}.body-widget-area .body-widget
p{margin-bottom:15px}.aggregation-area
h4{font-size:14px;margin-bottom:5px}.fullAggregation.aggregationResults{border-top:1px solid rgba(0, 0, 0, 0.6);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.1);-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.1)}.fullAggregation.aggregationResults
h2{font-size:18px;margin-bottom:0}.time{color:#767676;font-size:13px;font-weight:bold}.aggregationResults{padding:15px
0 30px 0}.aggregationItem{margin-bottom:15px;position:relative}.aggregationItem.last{margin-bottom:0px}.aggregationItem
.aggregationThumb{border:4px
solid #121212;float:left;margin-right:13px}.aggregationItem
p{color:#d3d1d1;font-size:12px}.aggregationItem
.time{position:absolute;right:0;top:0}.aggregationResults
a{text-decoration:none}.breadcrumbs{font-weight:bold;text-shadow:0px 2px 0px #000;filter:dropshadow(color=#000000, offx=0, offy=1);text-transform:uppercase}.breadcrumbs
a{color:#cfcfcf;text-decoration:none}.gallery{margin:25px
0 5px 0}.gallery
img{border:5px
solid #121212;float:left;margin:0
20px 20px 0}.gallery a:nth-child(4n) img{margin-right:0}.google-map
iframe{border:10px
solid #121212}input[type="submit"].ctaButton,input[type="button"].ctaButton,.ctaButton{border:1px
solid #2f2f2f;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:0px 1px 1px 1px rgba(0, 0, 0, 0.5);box-shadow:0px 1px 1px 1px rgba(0, 0, 0, 0.5);color:#000;display:inline-block;font-size:14px;font-weight:bold;line-height:29px;padding:0
15px;text-decoration:none;width:auto}input[type="submit"].ctaButton,input[type="button"].ctaButton{font-family:'Palatino Linotype',Georgia,times,serif;height:29px;padding-bottom:3px}.silver{background:#cdcdcd;background:-moz-linear-gradient(top,  #cdcdcd 0%, #7d7d7d 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdcdcd), color-stop(100%,#7d7d7d));background:-webkit-linear-gradient(top,  #cdcdcd 0%,#7d7d7d 100%);background:-o-linear-gradient(top,  #cdcdcd 0%,#7d7d7d 100%);background:-ms-linear-gradient(top,  #cdcdcd 0%,#7d7d7d 100%);background:linear-gradient(top,  #cdcdcd 0%,#7d7d7d 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#7d7d7d',GradientType=0 )}.silver:hover{background:#7d7d7d;background:-moz-linear-gradient(top,  #7d7d7d 0%, #cdcdcd 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7d7d), color-stop(100%,#cdcdcd));background:-webkit-linear-gradient(top,  #7d7d7d 0%,#cdcdcd 100%);background:-o-linear-gradient(top,  #7d7d7d 0%,#cdcdcd 100%);background:-ms-linear-gradient(top,  #7d7d7d 0%,#cdcdcd 100%);background:linear-gradient(to bottom,  #7d7d7d 0%,#cdcdcd 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7d7d', endColorstr='#cdcdcd',GradientType=0 )}.sidebar-col{display:block;float:right;width:220px}.sidebar-col
.widget{background:url("/wp-content/themes/sugarloafbarn/images/broken-noise-pattern-light.jpg") repeat scroll 0 0 transparent;border:1px
solid #807f7f;border-radius:6px;-webkit-border-radius:6px;-webkit-box-shadow:0px 0px 7px 1px rgba(0, 0, 0, 1);box-shadow:0px 0px 3px 1px rgba(0, 0, 0, 0.7);display:block;font-size:12px;margin:0
0 20px 0;padding:10px}.sidebar-col .widget.news-agg .news-item{border-bottom:1px solid #1b1b1b;box-shadow:0 1px 0 rgba(255, 255, 255, 0.2);padding-top:7px}.sidebar-col .widget.news-agg .news-item:last-child{border-bottom:none;box-shadow:none}.sidebar-col
a{text-decoration:none}.sidebar-col .widget
h4{margin-bottom:12px;text-transform:uppercase}.sidebar-col .widget
h5{text-shadow:none;font-size:12px}.sidebar-col .widget
p{margin-bottom:10px}.sidebar-col .widget.news-agg
img{border:2px
solid rgba(10, 10, 10, 0.6);float:left;margin:5px
5px 0 0}.sidebar-col .widget.news-agg
.time{display:block;margin:1px
0 0 0}header{margin-bottom:15px}.site-logo{background:url('/wp-content/themes/sugarloafbarn/images/logo.png') repeat scroll 0 0 transparent;display:block;float:left;height:34px;margin:20px
0 17px 0;text-indent:-9999px;width:248px}.sponsor-logo{}.sponsor-logo
img{border:3px
solid rgba(10,10,10,0.8);margin-top:15px;margin-left:92px}.contact-info{display:block;float:right;font-weight:bold;margin:24px
0 0 0;text-shadow:0px 2px 0px #000;filter:dropshadow(color=#000000,offx=0,offy=1)}.social-media-icons{display:block;float:right;margin:13px
0 0 0}.social-media-icons ul
li{background-color:#121212;-webkit-border-radius:50%;border-radius:50%;-webkit-box-shadow:0px 1px 1px 0px #5a5a5a;box-shadow:0px 1px 1px 0px #5a5a5a;display:block;float:left;height:35px;margin-left:15px;width:35px}.social-media-icons ul li
a{background:url('/wp-content/themes/sugarloafbarn/images/main-sprite.png') repeat scroll 0 0 transparent;display:block;height:20px;padding:10px
0 0 10px;width:18px;text-indent:-9999px}.social-media-icons ul li.twitter
a{background-position:11px 8px}.social-media-icons ul li.facebook
a{background-position:13px -22px}.social-media-icons ul li.pinterest
a{background-position:9px -203px}nav.mainNav{background:#121212;-webkit-border-radius:6px;border-radius:6px;-webkit-box-shadow:0px 1px 1.5px 0px #5a5a5a;box-shadow:0px 1px 1.5px 0px #5a5a5a;display:block;height:35px;margin:2px
0 0 0}nav.mainNav
ul{-webkit-border-radius:6px;border-radius:6px;-webkit-box-shadow:inset 0px 2px 2px 0px #000;box-shadow:inset 0px 2px 2px 0px #000;display:block;height:35px}nav.mainNav ul
li{float:left;padding:8px
0 0 23px;position:relative}nav.mainNav ul li
a{color:#FFF;font-size:15px;font-weight:bold;position:relative;text-decoration:none;text-transform:uppercase;z-index:20;-webkit-transition:all 0.4s ease-out;-moz-transition:all 0.4s ease-out;-ms-transition:all 0.4s ease-out;-o-transition:all 0.4s ease-out;transition:all 0.4s ease-out}nav.mainNav ul li ul.sub-menu{background:#121212;-webkit-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 2px 3px 1px rgba(0, 0, 0, 0.6);box-shadow:0 2px 3px 1px rgba(0, 0, 0, 0.6);display:none;height:auto;left:12px;padding:47px
0 4px 0;position:absolute;top:-9px;width:160px;z-index:10}nav.mainNav ul li ul.sub-menu
li{float:none;padding:0px
12px 0px 11px}nav.mainNav ul li ul.sub-menu li
a{border-bottom:1px solid #090909;border-top:1px solid #2b2b2b;display:block;padding:11px
0}nav.mainNav ul li ul.sub-menu li:last-child
a{border-bottom:none}nav.secNav{background:#121212;-webkit-border-radius:6px;border-radius:6px;-webkit-box-shadow:0px 1px 1.5px 0px #5a5a5a;box-shadow:0px 1px 1.5px 0px #5a5a5a}nav.secNav
ul{-webkit-box-shadow:inset 0px 2px 2px 0px #000;box-shadow:inset 0px 2px 2px 0px #000;-webkit-border-radius:6px;border-radius:6px;padding-bottom:4px}nav.secNav ul
li{border-bottom:1px solid #0b0b0b;border-top:1px solid #262626;font-size:15px;font-weight:bold;margin:0
10px;padding:8px
0px;text-transform:uppercase}nav.secNav ul li:first-child{border-top:none}nav.secNav ul li:last-child{border-bottom:none}nav.secNav ul li
a{color:#FFF;text-decoration:none;-webkit-transition:all 0.4s ease-out;-moz-transition:all 0.4s ease-out;-ms-transition:all 0.4s ease-out;-o-transition:all 0.4s ease-out;transition:all 0.4s ease-out}nav.secNav ul li a.current, nav.mainNav ul li a.current,
nav.secNav ul li a:hover, nav.mainNav ul li a:hover{color:#cfcfcf}nav.mainNav ul li:hover ul.sub-menu{}.page-footer{border-top:1px solid rgba(0, 0, 0, 0.6);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.1);-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.1);bottom:0;display:block;font-size:13px;height:100px;margin:20px
0 0 0;position:absolute;text-shadow:0px 2px 0px #000;text-transform:none;filter:dropshadow(color=#000000, offx=0, offy=1);text-transform:capitalize;width:940px}.page-footer
p{font-weight:bold;margin:15px
0 25px 0;text-align:center}div.wpcf7{float:left;margin-right:20px}.wpcf7-form{margin-top:20px}.wpcf7-form
fieldset{margin-top:20px}.wpcf7-form
div{margin-bottom:15px}.wpcf7-form div span.wpcf7-form-control-wrap,
form.booking_form .wpdev-form-control-wrap{background:#121212;-webkit-border-radius:6px;border-radius:6px;-webkit-box-shadow:inset 0px 2px 2px 0px #000;box-shadow:inset 0px 2px 2px 0px #000;display:block;width:620px}.wpcf7-form span.wpcf7-form-control-wrap input, .wpcf7-form span.wpcf7-form-control-wrap textarea,
form.booking_form .wpdev-form-control-wrap input, form.booking_form .wpdev-form-control-wrap
textarea{background:transparent;border:none;-webkit-border-radius:6px;border-radius:6px;-webkit-box-shadow:0px 1px 1.5px 0px #5a5a5a;box-shadow:0px 1px 1.5px 0px #5a5a5a;clear:left;color:#FFF;display:block;font-size:14px;font-family:Palatino,'Palatino Linotype',Georgia,times,serif;line-height:34px;padding:0
10px;width:600px}.wpcf7-form span
span{position:absolute;top:37px}.wpcf7-form span.wpcf7-form-control-wrap input.wpcf7-not-valid{border:1px
solid #F76767;margin-bottom:35px}.wpcf7 span.wpcf7-not-valid-tip-no-ajax{color:#F76767}.wpcf7-form span.wpcf7-form-control-wrap textarea,
form.booking_form .wpdev-form-control-wrap
textarea{resize:vertical}.wpcf7-form span.wpcf7-form-control-wrap
input{height:30px}.wpcf7-form
label{display:block;margin-bottom:2px}.wpcf7-form
br{display:none}.datepick-inline{float:right}form.booking_form .datepick-links, form.booking_form .datepick-prev a, form.booking_form .datepick-next a, form.booking_form .datepick-current
a{color:#FFF}form.booking_form .datepick-header{color:#FFF;font-size:13px}.booking_form_div{width:620px}form.booking_form .wpdev-form-control-wrap input,
form.booking_form .wpdev-form-control-wrap
textarea{padding:0
10px;width:600px}form.booking_form .wpdev-form-control-wrap
input{height:30px}div form.booking_form .wpdev-form-control-wrap{width:620px}div form.booking_form .wpdev-form-control-wrap{padding:0}div form.booking_form
.block_hints{width:auto;float:right}div form.booking_form
.wpdev_clear_hint{clear:none;display:none}#lbOverlay{position:fixed;z-index:9999;left:0;top:0;width:100%;height:100%;background-color:#000;cursor:pointer}#lbCenter,#lbBottomContainer{position:absolute;z-index:9999;overflow:hidden;background-color:#fff}.lbLoading{background:#fff url(/wp-content/themes/sugarloafbarn/images/slimbox/loading.gif) no-repeat center}#lbImage{position:absolute;left:0;top:0;border:10px
solid #fff;background-repeat:no-repeat}#lbPrevLink,#lbNextLink{display:block;position:absolute;top:0;width:50%;outline:none}#lbPrevLink{left:0}#lbPrevLink:hover{background:transparent url(/wp-content/themes/sugarloafbarn/images/slimbox/prevlabel.gif) no-repeat 0 15%}#lbNextLink{right:0}#lbNextLink:hover{background:transparent url(/wp-content/themes/sugarloafbarn/images/slimbox/nextlabel.gif) no-repeat 100% 15%}#lbBottom{font-family:Verdana,Arial,Geneva,Helvetica,sans-serif;font-size:10px;color:#666;line-height:1.4em;text-align:left;border:10px
solid #fff;border-top-style:none}#lbCloseLink{display:block;float:right;width:66px;height:22px;background:transparent url(/wp-content/themes/sugarloafbarn/images/slimbox/closelabel.gif) no-repeat center;margin:5px
0;outline:none}#lbCaption,#lbNumber{margin-right:71px}#lbCaption{font-weight:bold}ul.bjqs{position:relative;list-style:none;padding:0;margin:0;overflow:hidden;display:none}li.bjqs-slide{position:absolute;display:none}ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999}ul.bjqs-controls.v-centered li
a{position:absolute}ul.bjqs-controls.v-centered li.bjqs-next
a{right:0}ul.bjqs-controls.v-centered li.bjqs-prev
a{left:0}ol.bjqs-markers{list-style:none;padding:0;margin:0;width:100%}ol.bjqs-markers.h-centered{text-align:center}ol.bjqs-markers
li{display:inline}ol.bjqs-markers li
a{display:inline-block}p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0}ul.bjqs-controls li
a{background:url('/wp-content/themes/sugarloafbarn/images/main-sprite.png') repeat scroll 0 0 transparent;cursor:pointer;display:block;height:45px;width:45px;position:absolute;top:160px;text-indent:-9999px;z-index:10}ul.bjqs-controls.v-centered li.bjqs-prev
a{background-position:0 -60px;left:20px}ul.bjqs-controls.v-centered li.bjqs-next
a{background-position:0 -110px;right:0px}ol.bjqs-markers{top:20px;display:block;position:absolute;right:-720px;z-index:10}ol.bjqs-markers
li{display:inline-block;padding:0
0 0 10px}ol.bjqs-markers li
a{background:url("/wp-content/themes/sugarloafbarn/images/main-sprite.png") no-repeat scroll 0 -160px transparent;display:block;height:10px;text-indent:-9999px;width:10px}ol.bjqs-markers li.active-marker
a{background:url("/wp-content/themes/sugarloafbarn/images/main-sprite.png") no-repeat scroll 0 -175px transparent}.slideshow-container{display:block;position:relative}#slideshow{border:10px
solid #121212;display:block;height:380px;overflow:hidden;position:relative;width:920px}.slide{display:block;left:0;height:380px;position:absolute;top:0;width:920px}.textPanel{background:rgb(0, 0, 0);background:rgba(0, 0, 0, 0.7);bottom:0;display:block;height:72px;left:0;position:absolute;width:100%}.textPanel
h1{font-size:20px;line-height:72px;margin:0
0 0 20px;text-shadow:0px 2px 0px #000;filter:dropshadow(color=#000000, offx=0, offy=1)}a .textPanel h1:hover{text-decoration:underline}ol.bjqs-markers{display:block;height:auto;position:absolute;right:5px;top:20px;width:auto}.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:502;overflow:hidden;position:fixed;background:#0b0b0b;opacity:0.8;filter:alpha(opacity=80)}.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:503;position:fixed;outline:none !important;-webkit-backface-visibility:hidden}.mfp-container{height:100%;text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0
8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0
auto;text-align:left;z-index:505}.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none !important}.mfp-preloader{color:#ccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-0.8em;left:8px;right:8px;z-index:504}.mfp-preloader
a{color:#ccc}.mfp-preloader a:hover{color:white}.mfp-s-ready .mfp-preloader{display:none}.mfp-s-error .mfp-content{display:none}button.mfp-close,button.mfp-arrow{overflow:visible;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;display:block;padding:0;z-index:506}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:0.65;padding:0
0 18px 10px;color:white;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}.mfp-close:hover,.mfp-close:focus{opacity:1}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#333}.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close{color:white;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#ccc;font-size:12px;line-height:18px}.mfp-arrow{position:absolute;top:0;opacity:0.65;margin:0;top:50%;margin-top:-55px;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:rgba(0,0,0,0)}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:hover,.mfp-arrow:focus{opacity:1}.mfp-arrow:before, .mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:solid transparent}.mfp-arrow:after,
.mfp-arrow .mfp-a{opacity:0.8;border-top-width:12px;border-bottom-width:12px;top:8px}.mfp-arrow:before,
.mfp-arrow .mfp-b{border-top-width:20px;border-bottom-width:20px}.mfp-arrow-left{left:0}.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a{border-right:12px solid black;left:5px}.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b{border-right:20px solid white}.mfp-arrow-right{right:0}.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a{border-left:12px solid black;left:3px}.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b{border-left:20px solid white}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler
iframe{position:absolute;top:-3px;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0, 0, 0, 0.6);background:black}.mfp-iframe-holder .mfp-close{top:-43px}img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px
0 40px;margin:0
auto}.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,0.6)}.mfp-figure{line-height:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-break:break-word;padding-right:36px}.mfp-figure
small{color:#bdbdbd;display:block;font-size:12px;line-height:14px}.mfp-image-holder .mfp-content{max-width:100%}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0, 0, 0, 0.6);bottom:0;margin:0;top:auto;padding:3px
5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0, 0, 0, 0.6);position:fixed;text-align:center;padding:0}.mfp-img-mobile .mfp-figure
small{display:inline;margin-left:5px}}@media all and (max-width: 800px){.mfp-arrow{-webkit-transform:scale(0.75);transform:scale(0.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}.mfp-ie7 .mfp-img{padding:0}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}.mfp-ie7 .mfp-container{padding:0}.mfp-ie7 .mfp-content{padding-top:44px}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}
/*
 * <%= meta.title %> v<%= meta.version %> Stylesheet
 * Docs & License: <%= meta.homepage %>
 * (c) <%= meta.copyright %>
 */
.fc{direction:ltr;text-align:left}.fc
table{border-collapse:collapse;border-spacing:0}html .fc,
.fc
table{font-size:1em}.fc td,
.fc
th{padding:0;vertical-align:top}.fc-header
td{white-space:nowrap}.fc-header-left{width:25%;text-align:left}.fc-header-center{text-align:center}.fc-header-right{width:25%;text-align:right}.fc-header-title{display:inline-block;vertical-align:top}.fc-header-title
h2{margin-top:0;white-space:nowrap}.fc .fc-header-space{padding-left:10px}.fc-header .fc-button{margin-bottom:1em;vertical-align:top}.fc-header .fc-button{margin-right:-1px}.fc-header .fc-corner-right, .fc-header .ui-corner-right{margin-right:0}.fc-header .fc-state-hover,
.fc-header .ui-state-hover{z-index:2}.fc-header .fc-state-down{z-index:3}.fc-header .fc-state-active,
.fc-header .ui-state-active{z-index:4}.fc-content{clear:both}.fc-view{width:100%;overflow:hidden}.reservations-container{float:left;margin-top:40px;width:290px}#reservation-select{font-size:14px;height:26px;line-height:26px;margin-bottom:20px;padding:2px
0 1px 2px;width:100%}#calendar{border:1px
solid #FFF}.fc
table{background:#595959;border-collapse:separate;color:#FFF;margin-top:0px}.fc-header-title
h2{font-size:16px;font-weight:bold;padding-top:4px;text-shadow:none}.fc-header .fc-button{margin-bottom:15px}.fc-button-prev,.fc-button-next{background:url('/wp-content/themes/sugarloafbarn/images/main-sprite.png') no-repeat scroll 11px -250px;display:block;height:20px;margin:7px;text-indent:-9999px;width:30px}.fc-button-prev{background-position:0 -269px}.fc-text-arrow{display:none}.fc-content
table{margin:0}.fc-content
th{padding-bottom:10px}.fc-content th, .fc-content
td{font-weight:bold}.fc .fc-day-header, .fc .fc-day{text-align:center}.fc-day-header>div,.fc-day>div{padding:6px
0 7px 0}.fc-day fc-day-content{display:none}td.not-available{background-color:#955}.book-option{cursor:pointer}.book-option>div{background:#595;border:1px
solid #FFF;margin:1px}.book-option:hover>div{background:#fff;border:1px
solid #595;color:#437843}.fc-button{font-size:24px}.fc-button-prev,.fc-button-next{cursor:pointer;display:inline-block;font-size:40px}.fc-other-month{visibility:hidden}.mute{color:#888}.block-calendar-key{display:block}.block-calendar-key .block-section{float:left;margin-top:10px}.block-calendar-key .block-section
p{line-height:30px}.block-calendar-key .block-section
span{border:1px
solid #FFF;display:block;float:left;height:30px;margin-left:20px;margin-right:10px;width:30px}.block-calendar-key .block-section
span.available{background-color:#595;margin-left:0}.block-calendar-key .block-section
span.unavailable{background-color:#955}div.wpcf7{margin:0;padding:0}div.wpcf7-response-output{margin:2em
0.5em 1em;padding:0.2em 1em}div.wpcf7-mail-sent-ok{border:2px
solid #398f14}div.wpcf7-mail-sent-ng{border:2px
solid #f00}div.wpcf7-spam-blocked{border:2px
solid #ffa500}div.wpcf7-validation-errors{border:2px
solid #f7e700}span.wpcf7-form-control-wrap{position:relative}span.wpcf7-not-valid-tip{position:absolute;top:20%;left:20%;z-index:100;background:#fff;border:1px
solid #f00;font-size:10pt;width:280px;padding:2px}span.wpcf7-not-valid-tip-no-ajax{color:#f00;font-size:10pt;display:block}span.wpcf7-list-item{margin-left:0.5em}.wpcf7-display-none{display:none}div.wpcf7 img.ajax-loader{border:none;vertical-align:middle;margin-left:4px}div.wpcf7
.watermark{color:#888}div.wpcf7{margin-right:20px}.datepick-prev a, .datepick-next a, .datepick-current
a{font-size:1em;font-weight:bold;text-decoration:none;color:#999}.datepick-prev{width:33%;float:left;text-align:left}.datepick-next{width:33%;float:left;text-align:right}.datepick-next a, .datepick-prev
a{font-size:0.8em !important;padding:5px}.datepick-current{width:34%;float:left;text-align:center}.datepick-links{clear:both;float:left;width:100%}.datepick-one-month{float:left}.datepick-header{text-align:center;font-weight:bold;font-size:0.85em;padding:5px
0px;width:282px}.datepick  .datepick-days-cell{text-align:center}#datepick-div,.datepick-inline{}.datepick-control,.datepick-links{background-color:#f3f3f3}.datepick-header{background:transparent;color:#999;border-bottom:none;font-weight:bold;font-size:11px}.datepick  .datepick-title-row
th{color:#aaa;text-align:center;background:none;margin:0px;padding:5px
0px}.datepick  .datepick-days-cell
a{display:block;background-color:#f2f2f2;border:1px
solid #777;color:#21759B;font-weight:bold}.datepick  .datepick-unselectable{color:#b5b5b5;font-size:13px}.datepick  .datepick-today
a{}.datepick-inline table.datepick
td{width:40px;height:40px;padding:0px;border:0px}.datepick-inline table.datepick td
a{line-height:36px}.datepick  .date2approve, .datepick  .date2approve
a{color:#ea5 !important}.datepick  .date_approved, .datepick  .date_approved
a{color:#79c  !important}.datepick .date2approve, .datepick
.date_approved{}.datepick .timespartly
a{background:url("/wp-content/plugins/booking/img/clock_fill.png") no-repeat scroll 100% 100% #555 !important;font-size:13px;font-weight:bold}#wpdev-booking-general .datepick
.date2approve{background:#FFBB45 !important;border:1px
solid #FAFAFA;color:#FFF !important;font-size:17px;font-weight:normal;text-shadow:0 -1px 0 #777}#wpdev-booking-general .datepick
.date_approved{background:#9BE !important;border:1px
solid #FAFAFA;color:#FFF !important;font-size:17px;font-weight:normal;text-shadow:0 -1px 0 #777}.datepick .datepick_mouse_over
a{background:#f00 !important}.calendar-links{float:left;height:15px;margin-bottom:-35px;padding:5px
0;position:relative;width:100%;z-index:0}.calendar-links .datepick-next{float:right}.calendar-links .datepick-next,.calendar-links .datepick-prev{font-weight:bold;font-size:11px}.datepick  .datepick-title-row
th{border:none;border-bottom:#ccc 1px solid;color:#f5f5f5;font-size:11px}.datepick .datepick-days-cell
a{background-color:#444;border:1px
solid #999;color:#EEE;display:block;font-size:13px;font-weight:bold;margin:1px}.datepick .datepick-days-cell a:hover, .datepick  .datepick-days-cell-over
a{text-decoration:none;border:1px
solid #eb2;color:#fc2}.datepick-inline
.datepick{background-color:#595959;border:2px
solid #AAA;margin:0
2px 0 0 !important;padding:0
!important}.tooltips{background-color:#555;border:1px
solid #aaa;padding:10px
15px;width:200px;display:none;color:#fff;text-align:left;font-size:12px;-moz-box-shadow:0 0 5px #000;-webkit-box-shadow:0 0 5px #000}.block_hints
.block_booked{background:#777 !important}.block_hints
.block_pending{background:#777 !important}.datepick span.admin_calendar_selection a.booking_overmause0, .datepick span.admin_calendar_selection a.booking_overmause1, .datepick .admin_calendar_selection, .datepick .admin_calendar_selection
a{background-color:#f00 !important;border:none;color:#fff !important}.widget_wpdev_booking .datepick-inline table.datepick td a, .widget_wpdev_booking .datepick-inline table.datepick td, .widget_wpdev_booking .block_hints .block_free a, .widget_wpdev_booking .block_hints .block_time
a{font-size:11px}.widget_wpdev_booking .datepick-inline table.datepick .datepick-current-day
a{font-size:11px !important}#wpdev-booking-general .datepick .date2approve, #wpdev-booking-general .datepick .date2approve.timespartly
a{background-color:#FFBB45 !important;border:none;font-size:14px;font-weight:normal;color:#FFF !important}#wpdev-booking-general .datepick .date_approved, #wpdev-booking-general .datepick .date_approved.timespartly
a{background-color:#9BE !important;border:none;color:#FFF !important;font-size:14px;font-weight:normal}.datepick  .date2approve, .block_hints
.block_pending{color:#ea5 !important;background-color:#779 !important;color:#fff !important}.datepick  .date_approved,.block_hints
.block_booked{color:#79c !important;background-color:#955 !important;color:#fff !important}.datepick .date2approve.timespartly
a{background-color:transparent !important;border:none !important;color:#ccf !important}.datepick .date_approved.timespartly
a{background-color:transparent !important;border:none !important;color:#77f !important}.block_hints
.block_free{background-color:#595959 !important;color:#99f !important;font-weight:normal !important}.block_hints .block_free
a{margin:0px;font-weight:normal !important}.block_time.timespartly{background:#595959 url('/wp-content/plugins/booking/img/clock_fill.png') no-repeat 100% 100% !important;color:#99f !important}.datepick-inline .datepick td.datepick-current-day
a{background-color:#38A !important;border:1px
solid #E91 !important;color:#FFF !important;font-size:15px !important}.datepick .datepick-days-cell-over
a{background:#fff;color:#e95;border:1px
solid #e95}.widget_wpdev_booking .block_pending, .widget_wpdev_booking .block_time, .widget_wpdev_booking .block_booked, .widget_wpdev_booking
.block_free{height:25px;line-height:25px;width:25px}.widget_wpdev_booking
.block_text{height:20px;line-height:20px}.wpdev_clear_hint{height:1px;clear:both}.datepick .datepick-days-cell a, .datepick .datepick-days-cell a:hover{cursor:pointer}