.submiting_content{border:1px
solid #5C5;font-size:15px;font-weight:bold;height:45px;margin:15px
auto;padding:15px
10px;text-align:center;width:100%}.booking_form_div textarea, .booking_form_div input, .booking_form_div select, .booking_SagePayForm
input{border-color:#DFDFDF}.booking_form_div textarea, .booking_form_div input, .booking_form_div select, .booking_SagePayForm
input{-moz-border-radius:4px;-webkit-border-radius:4px;border-style:solid;border-width:1px}.booking_form_div textarea, .booking_form_div input, .booking_form_div select, .booking_SagePayForm
input{margin:1px;padding:3px}.booking_form_div
textarea{line-height:1.4em}.booking_form_div textarea, .booking_form_div input, .booking_form_div select, .booking_SagePayForm
input{font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:13px}.booking_form{text-align:left}.booking_form_div .button, .booking_form_div .submit, .booking_form_div .button-secondary{-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:#F2F2F2}.booking_form_div .submit, .booking_form_div .button, .booking_form_div .button-primary, .booking_form_div .button-secondary, .booking_form_div .button-highlighted, .booking_form_div #postcustomstuff .submit
input{-moz-border-radius:11px;-webkit-border-radius:11px;-moz-box-sizing:content-box;border-style:solid;border-width:1px;cursor:pointer;font-size:11px !important;line-height:16px;padding:2px
8px;text-decoration:none;font-weight:bold;margin:10px
0px;float:right}.booking_form
.field{clear:both;text-align:right;line-height:25px;margin:5px
0px}.booking_form
label{float:left;padding-right:10px;width:80px;text-align:left}.booking_form
.main_div{float:left}.booking_form_div{text-align:left}.booking_form
.submit{float:left}.booking_form_div input[type="button"]:hover, .booking_SagePayForm input[type="button"]:hover{cursor:pointer !important}.form_bk_messages{display:none;float:left;font-size:14px;font-weight:bold;border:1px
solid #9da;padding:3px
10px;margin:2px
5px;background:#fef9ed;color:#555;margin:15px
auto;padding:5px
10px;text-align:center;width:100%;clear:both}input.wpdev-validates-as-time{width:50px}.widget_wpdev_booking{padding:0px;margin:0px;vertical-align:top}.widget_wpdev_booking .datepick-inline table.datepick
td{height:25px;width:25px;line-height:25px}.widget_wpdev_booking .datepick-inline table.datepick td
a{line-height:25px;height:25px}.widget_wpdev_booking .datepick-inline{width:183px !important}.widget_wpdev_booking .datepick-header{width:183px !important}.widget_wpdev_booking input, .widget_wpdev_booking select, .widget_wpdev_booking
textarea{width:95%;margin:1%}.datepick  .date2approve, .datepick
.date_approved{background:#e5e5e5;color:#aaa;font-weight:bold}.datepick  .timespartly
a{background:#F2F2F2 url('/wp-content/plugins/booking/img/clock_fill.png') no-repeat 100% 100%}.wpdev_hint_with_text{float:left;white-space:nowrap}.block_hints{clear:both;width:100%;height:auto}img.captcha_img{vertical-align:middle}.captachinput{width:120px}.block_hints{font-size:11px;clear:both;margin:10px
0px 30px 0px !important;border:none;height:30px}.block_text{float:left;margin:0px
0px 10px 0px;height:30px;padding:0px
10px 0px 2px;line-height:32px}.block_pending,.block_time,.block_booked,.block_free{width:30px;height:30px;line-height:28px;border:1px
solid #Fea;display:block;font-weight:bold;text-align:center;vertical-align:middle;float:left}.block_time
a{padding:7px
10px 8px 10px}table.datepick tr
td{padding:0px
!important;border-top:0 none!important;line-height:36px}table.datepick tr th, .booking_form_div table.datepick thead
th{padding:5px
0px !important}.datepick-inline{margin-bottom:10px}table.datepick{width:auto;width:284px !important}div#datepick-div div.datepick-header{width:auto;width:284px !important}div#datepick-div{width:284px !important;z-index:2147483645 !important}.widget_wpdev_booking .datepick-inline
table.datepick{width:184px !important}.booking_search_form{margin:15px
0px;padding:10px;border:1px
solid #FFF141;text-shadow:0 1px 0 #FFF;-border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-moz-box-shadow:0 0 2px #FEF691;-webkit-box-shadow:0 0 2px #FEF691;-box-shadow:0 0 2px #FEF691}.booking_search_form
label{font-weight:bold;font-size:13px;color:#555 !important}.booking_search_form
h3{font-size:18px;line-height:28px !important;font-weight:bold;font-family:Arial;margin:0
!important;color:#555 !important}.booking_search_form
input.search_booking{float:right;margin-top:15px;-box-shadow:0 0 1px #DDD;-webkit-box-shadow:0 0 1px #DDD;-moz-box-shadow:0 0 1px #DDD;background:none repeat scroll 0 0 #F5F5F5 !important;color:#717171 !important;font-family:Helvetica;font-size:15px !important;font-weight:bold !important;text-shadow:0 0 1px #FFF}.booking_search_form input.search_booking:hover{background:none repeat scroll 0 0 #eee !important}.booking_search_form
input.hasDatepick{border:1px
solid #BBB8B8;color:#555;font-size:0.8em !important;font-weight:bold;margin-right:20px}#booking_search_ajax{margin-bottom:20px}.booking_search_result_item{clear:both;margin:10px
0px;padding:5px
5px 20px;border-bottom:1px solid #e5e5e5;font-size:0.9em}.booking_search_result_item
.booking_search_result_title{font-weight:bold;font-size:1.3em;margin-bottom:10px}.booking_search_result_item
img.booking_featured_image{border:1px
solid #ccc;padding:2px;width:200px !important;float:left;margin:5px
15px 5px 0px !important}.booking_search_result_item
.booking_search_result_info{font-size:1.1em;font-style:italic;margin:10px}.booking_search_result_visitors_num,.booking_search_result_items_num,.booking_search_result_cost{font-weight:bold}.booking_search_result_item
label{font-size:16px;font-weight:bold}.booking_search_result_item
a{-box-shadow:0 0 1px #DDD;-webkit-box-shadow:0 0 1px #DDD;-moz-box-shadow:0 0 1px #DDD;background:none repeat scroll 0 0 #F5F5F5 !important;color:#717171 !important;font-family:Helvetica;font-size:12px !important;line-height:18px;font-weight:bold !important;text-shadow:0 0 1px #FFF;float:right;cursor:pointer;padding:2px;border:1px
solid #bbb;-border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;text-decoration:none;margin-top:15px}.booking_search_result_item a:hover{background:none repeat scroll 0 0 #eee !important}#wp-admin-bar-booking_options a span#booking-count{background:none repeat scroll 0 0 #EEE;border-radius:10px 10px 10px 10px;color:#333;display:inline;font-size:10px;font-weight:bold;padding:2px
5px;text-shadow:none}#wp-admin-bar-booking_options a:hover span#booking-count{background:none repeat scroll 0 0 #FFF;color:#000}.wpdevbk.popover{z-index:2147483647 !important}.wpdevbk.popover.top
.arrow{border-top:5px solid rgba(140, 140, 140, 0.8) !important}.wpdevbk.popover.bottom
.arrow{border-bottom:5px solid rgba(140, 140, 140, 0.8) !important}.wpdevbk.popover.left
.arrow{border-left:5px solid rgba(140, 140, 140, 0.8) !important}.wpdevbk.popover.right
.arrow{border-right:5px solid rgba(140, 140, 140, 0.8) !important}.wpdevbk .popover-inner{background:none repeat scroll 0 0 rgba(140, 140, 140, 0.8);border-radius:6px 6px 6px 6px;box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);overflow:hidden;padding:3px;width:150px}.wpdevbk .popover-inner .popover-title{background-color:#FFF;border-bottom:0px solid #EEE;border-radius:3px 3px 0 0;line-height:1;padding:0px;font-size:13px}.wpdevbk .popover-inner .popover-content{background-clip:padding-box;background-color:#FFF;border-radius:0 0 3px 3px;padding:14px}