/*

    Custom calendar and reservations styles to overwite the fullcalendar default styles 
*/

.reservations-container {
    float: left;
    margin-top: 40px;
    width: 290px;
}

#reservation-select {
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    margin-bottom: 20px;
    padding: 2px 0 1px 2px;
    width: 100%;
}

#calendar {
    border: 1px solid #FFF;
}

.fc table {
    background: #595959;
    border-collapse: separate;
    color: #FFF;
    margin-top: 0px;
}

.fc-header-title h2 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 4px;
    text-shadow: none;
}

.fc-header .fc-button {
    margin-bottom: 15px;
}

.fc-button-prev, .fc-button-next {
    background: url('../images/main-sprite.png') no-repeat scroll 11px -250px;
    display: block;
    height: 20px;
    margin: 7px;
    text-indent: -9999px;
    width: 30px;
}

.fc-button-prev {
    background-position: 0 -269px;
}

.fc-text-arrow {
    display: none;
}

.fc-content table {
    margin: 0;
}

.fc-content th {
    padding-bottom: 10px;
}

.fc-content th, .fc-content td {
    font-weight: bold;
}

.fc .fc-day-header, .fc .fc-day {
    text-align: center;
}

.fc-day-header > div, .fc-day > div {
    padding: 6px 0 7px 0;
}

.fc-day fc-day-content {
    display: none;
}

td.not-available {
    background-color: #995555;
}

.book-option {
    cursor: pointer;
}

.book-option > div {
    background: #559955;
    border: 1px solid #FFF;
    margin: 1px;
}

.book-option:hover > div {
    background: #fff;
    border: 1px solid #559955;   
    color: #437843; 
}

.fc-button {
    font-size: 24px;
}

.fc-button-prev, .fc-button-next {
    cursor: pointer;
    display: inline-block;
    font-size: 40px;
}

.fc-other-month {
    visibility: hidden;
}

.mute {
    color: #888;
}

.block-calendar-key {
    display: block;   
}

.block-calendar-key .block-section {
    float: left;
    margin-top: 10px;   
}

.block-calendar-key .block-section p {
    line-height: 30px;
}

.block-calendar-key .block-section span {
    border: 1px solid #FFF;
    display: block;
    float: left;
    height: 30px;
    margin-left: 20px;
    margin-right: 10px;
    width: 30px;
}

.block-calendar-key .block-section span.available {
    background-color: #559955;
    margin-left: 0;
}

.block-calendar-key .block-section span.unavailable {
    background-color: #995555;
}

