/* 
    Document   : editor-style
    Created on : 07-Jul-2012, 15:09:53
    Author     : Ross
    Description:
        Purpose of the stylesheet follows.
*/
img.alignright {
    float: right;
    margin: 0 0 10px 15px;
}

img.alignleft {
    float: left;
    margin: 0 15px 10px 0;
}
        
.redText { 
    color: #F76767;
}

.greyText {
    color: #CFCFCF;
}

/* Buttons */

input[type="submit"].ctaButton, .ctaButton {
    border: 1px solid #2f2f2f;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.5);            
    color: #000000;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 29px;
    padding: 0 15px;
    text-decoration: none;
    width: auto;
}

input[type="submit"].ctaButton {
    font-family: 'Palatino Linotype', Georgia, times, serif;    
    height: 29px;
    padding-bottom: 3px;
}

.silver {
    background: #cdcdcd; /* Old browsers */
    background: -moz-linear-gradient(top,  #cdcdcd 0%, #7d7d7d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdcdcd), color-stop(100%,#7d7d7d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cdcdcd 0%,#7d7d7d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cdcdcd 0%,#7d7d7d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cdcdcd 0%,#7d7d7d 100%); /* IE10+ */
    background: linear-gradient(top,  #cdcdcd 0%,#7d7d7d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#7d7d7d',GradientType=0 ); /* IE6-9 */
}
