/* 
    Document   : slideshow.css
    Created on : 15-May-2012, 20:26:39
    Author     : Ross
    Description:
        Purpose of the stylesheet follows.
*/

.slideshow-container {
    display: block;
    position: relative;
}

#slideshow { 
    border: 10px solid #121212;
    display: block;
    height: 380px;
    overflow: hidden;
    position: relative;   
    width: 920px;
}      

.slide {
    display: block;
    left: 0;
    height: 380px;
    position: absolute;
    top: 0;
    width: 920px;
}

.textPanel {
    background: rgb(0, 0, 0); /* The Fallback */
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: block;    
    height: 72px;    
    left: 0;   
    position: absolute;
    width: 100%;
}

    .textPanel h1 {
        font-size: 20px;
        line-height: 72px;
        margin: 0 0 0 20px;
        text-shadow: 0px 2px 0px #000000;
        filter: dropshadow(color=#000000, offx=0, offy=1);        
    }
 
        a .textPanel h1:hover {
            text-decoration: underline;
        }
        
ol.bjqs-markers {
    display: block;
    height: auto;
    position: absolute;
    right: 5px;
    top: 20px;
    width: auto;
}
    



