/* 
    Document   : form.css
    Created on : 05-Jun-2012, 10:04:32
    Author     : Ross
    Description:
        Purpose of the stylesheet follows.
*/

.contact fieldset {
    margin-top: 20px;
}

.contact div {
    margin-bottom: 20px;
}

.contact div span {
    background: #121212;
    -webkit-border-radius: 6px;
    border-radius: 6px;        
    -webkit-box-shadow: inset 0px 2px 2px 0px #000000;        
    box-shadow: inset 0px 2px 2px 0px #000000;
    display: block;
    width: 701px;
}

.contact input, .contact textarea { 
    background: transparent;
    border: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;        
    -webkit-box-shadow:  0px 1px 1.5px 0px #5a5a5a;
    box-shadow:  0px 1px 1.5px 0px #5a5a5a;
    clear: left;
    color: #FFF;
    display: block;
    font-size: 14px;
    font-family: 'Palatino Linotype', Georgia, times, serif;
    line-height: 34px;
    padding: 0 10px;    
    width: 681px;
}

.contact input {
    height: 34px;
}

.contact label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}


