/* 
    Document   : nav.css
    Created on : 27-May-2012, 21:19:14
    Author     : Ross
    Description:
        Purpose of the stylesheet follows.
*/

nav.mainNav {
    background: #121212;
    -webkit-border-radius: 6px;
     border-radius: 6px;        
    -webkit-box-shadow:  0px 1px 1.5px 0px #5a5a5a;
    box-shadow:  0px 1px 1.5px 0px #5a5a5a;        
    display: block;
    height: 35px;
    margin: 2px 0 0 0;
}

    nav.mainNav ul {
        -webkit-border-radius: 6px;
        border-radius: 6px;             
        -webkit-box-shadow: inset 0px 2px 2px 0px #000000;        
        box-shadow: inset 0px 2px 2px 0px #000000;              
        display: block;
        height: 35px;
    }

        nav.mainNav ul li {
            float: left;
            padding: 8px 0 0 23px;
            position: relative;
        }

            nav.mainNav ul li a { 
                color: #FFF;
                font-size: 15px;
                font-weight: bold;
                position: relative;
                text-decoration: none;
                z-index: 20;
                -webkit-transition: all 0.4s ease-out;
                -moz-transition: all 0.4s ease-out;
                -ms-transition: all 0.4s ease-out;
                -o-transition: all 0.4s ease-out;
                transition: all 0.4s ease-out;                
            }
            
                nav.mainNav ul li ul.dropDownNav {
                    background: #121212;                
                    -webkit-border-radius: 6px;
                    border-radius: 6px;
                    -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.6);        
                    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.6);                    
                    display: block;
                    height: auto;
                    left: 12px;
                    padding: 47px 0 4px 0;
                    position: absolute;
                    top: -9px;
                    width: auto;
                    z-index: 10;
                }
            
                    nav.mainNav ul li ul.dropDownNav li {                      
                        float: none;
                        padding: 0px 12px 0px 11px;
                    }
                    
                        nav.mainNav ul li ul.dropDownNav li a {
                            border-bottom: 1px solid #090909;
                            border-top: 1px solid #2b2b2b;
                            display: block;
                            padding: 11px 0;
                        }
                        
                        nav.mainNav ul li ul.dropDownNav li:last-child a {
                            border-bottom: none;

                        }

nav.secNav {
    background: #121212;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 1px 1.5px 0px #5a5a5a;
    box-shadow:  0px 1px 1.5px 0px #5a5a5a;           
}

    nav.secNav ul {
        -webkit-box-shadow: inset 0px 2px 2px 0px #000000;        
        box-shadow: inset 0px 2px 2px 0px #000000;  
        -webkit-border-radius: 6px;
        border-radius: 6px;
        padding-bottom: 4px;
    }
    
        nav.secNav ul li {
            border-bottom: 1px solid #0b0b0b;
            border-top: 1px solid #262626;
            font-size: 15px;
            font-weight: bold;
            margin: 0 10px;
            padding: 8px 0px;
            text-transform: uppercase;
        }
        
        nav.secNav ul li:first-child {
            border-top: none;
        }

        nav.secNav ul li:last-child {
            border-bottom: none;
        }
                nav.secNav ul li a {
                    color: #FFF;
                    text-decoration: none;
                    -webkit-transition: all 0.4s ease-out;
                    -moz-transition: all 0.4s ease-out;
                    -ms-transition: all 0.4s ease-out;
                    -o-transition: all 0.4s ease-out;
                    transition: all 0.4s ease-out;                   
                }
                
                
                nav.secNav ul li a.current, nav.mainNav ul li a.current,                
                nav.secNav ul li a:hover, nav.mainNav ul li a:hover {
                    color: #cfcfcf;
                }