/* 
    Document   : slideshow.css
    Created on : 15-May-2012, 20:26:39
    Author     : Ross
    Description:
        Purpose of the stylesheet follows.
*/

.slideshow-container {
    position: relative;
}

#slideshow { 
    border: 10px solid #121212;
    display: block;
    height: 380px;
    position: relative;   
    width: 920px;
}

    #slideshow ul {
        bottom: 31px;
        display: block;
        position: absolute;        
        right: 20px;        
    }
    
        #slideshow ul li {
            float: right;
            padding: 0 0 0 10px;           
        }
        
        #slideshow ul li a {
            background: url("../images/main-sprite.png") no-repeat scroll 0 -160px transparent;
            display: block;
            height: 10px;
            text-indent: -9999px;
            width: 10px;
        }
        
         #slideshow ul li a.current {
            background: url("../images/main-sprite.png") no-repeat scroll 0 -175px transparent;
        }       


.slide {
    display: block;
    left: 0;
    height: 380px;
    position: absolute;
    top: 0;
    width: 920px;
}

.sliderControls span {
    background: url('../images/main-sprite.png') repeat scroll 0 0 transparent;
    display: block;
    height: 45px;
    width: 45px;
    position: absolute;
    top: 160px;
    text-indent: -9999px;
}

    .sliderControls span.next {
        background-position: 0 -110px;        
        right: 20px;
    }


    .sliderControls span.previous {
        background-position: 0 -60px;
        left: 20px;
    }

.textPanel {
    background: rgb(0, 0, 0); /* The Fallback */
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: block;    
    height: 72px;    
    left: 0;   
    position: absolute;
    width: 100%;
}

    .textPanel h1 {
        font-size: 20px;
        line-height: 72px;
        margin: 0 0 0 20px;
        text-shadow: 0px 2px 0px #000000;
        filter: dropshadow(color=#000000, offx=0, offy=1);        
    }
    



