/* 
    Document   : style
    Created on : 15-May-2012, 20:26:01
    Author     : Ross
    Description:
        Purpose of the stylesheet follows.
*/

html, body {
    height: 100%;
}

h1,h2,h3,h3,h4,h5,h6 {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 2px 0px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=1);
}

h4 { font-size: 14px;}

a {
    text-decoration: underline;
    color: #FFF;
}
.heading-text {
    margin-bottom: 15px;
    text-transform: uppercase;
}

body {
    background: url('../images/broken-noise-pattern.jpg') repeat scroll 0 0 transparent;
    color: #FFF;
    font-family: 'Palatino Linotype', Georgia, times, serif;    
    font-size: 14px;
    line-height: 18px;

}

.wrapper {
    width: 940px;
    margin: 0 auto;
    min-height: 100%;
    padding: 0 10px;
    position: relative;
}

.main {
    padding-bottom: 100px;
}
.page-body {
    
}

.content {
    padding: 18px 0 0 0;
}

    .content p { margin-bottom: 15px; }

    .content img {
        border: 6px solid rgba(10, 10, 10, 0.8);
        margin: 0 10px 10px 10px;
    }
.leftCol {
    display: block;
    float: left;
    height: 100%;    
    margin-right: 20px;
    width: 141px;    
}

.leftCol + .mainCol {
    float: right;
    width: 779px;
}

.mainCol.sidebar {
    float: left;
    margin-right: 20px;
    width: 700px;
}
    
/* Body widget area */ 

.body-widget-area {
    margin: 0 0 30px 0;
}

    .body-widget-area .body-widget{
        display: block;
        float: left;
        margin: 0 20px 0 0;
        padding: 0 10px;
        width: 280px;     
    }
    
    .body-widget-area .body-widget:last-child{
        margin: 0;
    }    
    
    .body-widget-area .body-widget h2 {
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0px 2px 0px #000000;
        filter: dropshadow(color=#000000, offx=0, offy=1);     
    }
    
     .body-widget-area .body-widget img {
        border: 5px solid #121212;
        margin: 15px 0 15px 0;
    }
    
    .body-widget-area .body-widget p {
        margin-bottom: 15px;
    }
 
/* Aggregation Results */

.fullAggregation.aggregationResults {
    border-top: 1px solid rgba(0, 0, 0, 0.6);    
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);    
}

    .fullAggregation.aggregationResults h2 {
        font-size: 18px;
        margin-bottom: 0;
    }
    
    .time {
        color: #767676;
        font-size: 13px;
        font-weight: bold;
    }

.aggregationResults {
    padding: 15px 0 30px 0;
}

.aggregationItem {
    margin-bottom: 15px;
}

.aggregationItem.last {
    margin-bottom: 0px;
}

.aggregationItem .aggregationThumb {
    border: 4px solid #121212;
    float: left;
    margin-right: 13px;
}

.aggregationItem p {
    color: #d3d1d1;
    font-size: 12px;
    
}

/* Breadcrumbs*/

    .breadcrumbs p {
        font-weight: bold;
        text-shadow: 0px 2px 0px #000000;
        filter: dropshadow(color=#000000, offx=0, offy=1);          
        text-transform: uppercase;
    }

        .breadcrumbs p a {
            color: #cfcfcf;
            text-decoration: none;          
        }

/* Gallery */

.gallery {
    margin: 25px 0 5px 0;
}
    .gallery img {
        border: 5px solid #121212;
        float: left;
        margin: 0 20px 20px 0;
    }

    .gallery img:nth-child(4n) {
        margin-right: 0;
    } 
    
/* Buttons */

.ctaButton {
    border: 1px solid #2f2f2f;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.5);            
    color: #000000;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 29px;
    padding: 0 15px;
    text-decoration: none;
    width: auto;
}

.silver {
    background: #cdcdcd; /* Old browsers */
    background: -moz-linear-gradient(top,  #cdcdcd 0%, #7d7d7d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdcdcd), color-stop(100%,#7d7d7d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cdcdcd 0%,#7d7d7d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cdcdcd 0%,#7d7d7d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cdcdcd 0%,#7d7d7d 100%); /* IE10+ */
    background: linear-gradient(top,  #cdcdcd 0%,#7d7d7d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#7d7d7d',GradientType=0 ); /* IE6-9 */
}


